<!DOCTYPE html>
<html lang="en">
<head>
  <title> Reactinatra </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
</head>
<body>
  <noscript>Hello? Is <%= @react_module %>.js there?  Wrong number? Oh sorry, I'll call webpack </noscript>
  <div id='root'></div>
  <script src="/build/<%= @react_module %>.js"></script>
</body>
</html>
