.Form {
  padding: 5px 5px 5px 5px;
  border: 3px solid darkslategrey;
  border-radius: 2px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FormInput {
  size: 25px;
  align-items: flex-start;
  margin: 5px 0 5px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
}

.Button {}
